[submodule "eegfaktura-admin-backend"]
	path = eegfaktura-admin-backend
	url = https://github.com/eegfaktura/eegfaktura-admin-backend.git
	branch = master
[submodule "eegfaktura-admin"]
	path = eegfaktura-admin
	url = https://github.com/eegfaktura/eegfaktura-admin.git
	branch = master
[submodule "eegfaktura-backend"]
	path = eegfaktura-backend
	url = https://github.com/eegfaktura/eegfaktura-backend.git
	branch = master
[submodule "eegfaktura-billing"]
	path = eegfaktura-billing
	url = https://github.com/eegfaktura/eegfaktura-billing.git
	branch = master
[submodule "eegfaktura-docker-compose"]
	path = eegfaktura-docker-compose
	url = https://github.com/eegfaktura/eegfaktura-docker-compose.git
	branch = main
[submodule "eegfaktura-docs"]
	path = eegfaktura-docs
	url = https://github.com/eegfaktura/eegfaktura-docs.git
	branch = main
[submodule "eegfaktura-eda-xp"]
	path = eegfaktura-eda-xp
	url = https://github.com/eegfaktura/eegfaktura-eda-xp.git
	branch = master
[submodule "eegfaktura-energystore"]
	path = eegfaktura-energystore
	url = https://github.com/eegfaktura/eegfaktura-energystore.git
	branch = main
[submodule "eegfaktura-filestore"]
	path = eegfaktura-filestore
	url = https://github.com/eegfaktura/eegfaktura-filestore.git
	branch = main
[submodule "eegfaktura-keycloak"]
	path = eegfaktura-keycloak
	url = https://github.com/eegfaktura/eegfaktura-keycloak.git
	branch = main
[submodule "eegfaktura-mosquitto"]
	path = eegfaktura-mosquitto
	url = https://github.com/eegfaktura/eegfaktura-mosquitto.git
	branch = main
[submodule "eegfaktura-postgresql"]
	path = eegfaktura-postgresql
	url = https://github.com/eegfaktura/eegfaktura-postgresql.git
	branch = main
[submodule "eegfaktura-web"]
	path = eegfaktura-web
	url = https://github.com/eegfaktura/eegfaktura-web.git
	branch = master
[submodule "eegfaktura-konzepte"]
	path = eegfaktura-konzepte
	url = https://github.com/vfeeg-development/eegfaktura-konzepte.git
	branch = master
